@model BoVoyageFinalProject.Models.BookingFile
@{
    var customer = Session["CUSTOMER"] as BoVoyageFinalProject.Models.Customer;
    var travel = ViewBag.Travel as BoVoyageFinalProject.Models.Travel;
    var CustomerId = customer.ID;
    var TravelId = travel.ID;   
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>BookingFile</h4>
    @Html.DisplayFor(modelItem => customer.LastName)
    @Html.DisplayFor(modelItem => travel.Destination.Country)
    @Html.HiddenFor(modelItem => CustomerId)
    @Html.HiddenFor(modelItem => TravelId)

    <p style="color: green; font-weight: bold">Nombre de place disponible : @travel.SpaceAvailable</p>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.CreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreditCardNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TravellersNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TravellersNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TravellersNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsCustomerTraveller, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsCustomerTraveller)
                @Html.ValidationMessageFor(model => model.IsCustomerTraveller, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.BookingFileState, new { @Value = "EN ATTENTE" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>