@model BoVoyageFinalProject.Models.BookingFile

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BookingFile</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.PhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Travel.ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Travel.ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreditCardNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreditCardNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TravellersNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TravellersNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsCustomerTraveller)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsCustomerTraveller)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BookingFileState)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BookingFileState)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BookingFileCancellationReason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BookingFileCancellationReason)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
</body>
</html>
