
@model BoVoyageFinalProject.Models.BookingFile

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    ViewBag.Title = "Nouveau dossier de réservation";
}

@section SectionTitle{
    Nouveau dossier de réservation
}

Encadré avec résumé du voyage

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    
    <div class="form-group">

        @Html.LabelFor(x => x.CreditCardNumber, new { @class = "control-label" })
        @Html.EditorFor(x => x.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.CreditCardNumber, null, new { @class = "text-danger" })

    </div>

    <div class="form-group">

        @Html.LabelFor(x => x.IsCustomerTraveller, new { @class = "control-label" })
        @Html.CheckBoxFor(x => x.IsCustomerTraveller, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Insurances, new { @class = "control-label" })
        @Html.ListBoxFor(x => x.Insurances, new MultiSelectList(ViewBag.Insurances, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })

    </div>


    <button type="submit" class="btn btn-default btn-df">OK</button>
}