@model BoVoyageFinalProject.Models.Travel

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Détails</title>
</head>
<body>
    <div>
        <h4>Voyages</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Destination.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Destination.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Destination.Area)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Destination.Area)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TravelAgency.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TravelAgency.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateGo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateGo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateBack)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateBack)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpaceAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpaceAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
</body>
</html>